{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{% load static %}

{% block head_css %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block title %}
    Customize
{% endblock %}

{% block main %}

    <h3 class="text-center">Costumize</h3>
    <hr>
    <h5 class="text-center">Type: {{tabla}}</h5>
    <h5 class="text-center">Order: {{name}}</h5>
    <h5 class="text-center">Small Pizza: ${{small}}</h5>
    <h5 class="text-center">Large Pizza: ${{large}}</h5>
    <h5 class="text-center">Max of toppings for this pizza: {{max_extras}}</h5>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <form method="POST" action="{% url 'carrito' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Choose a size</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="price">
                            <option value="{{small}}">Small</option>
                            <option value="{{large}}">Large</option>
                        </select>
                        <label for="exampleFormControlSelect1">Choose a topping, Hold down “Control”, or “Command” on a Mac, to select more than one.</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="toppings" multiple>
                            {% for topping in Toppings %}
                                <option value="{{topping.name}}">{{topping}}</option>
                            {% endfor %}
                        </select>

                        <input type="number" name="cantidad" placeholder="Cantidad de pizzas">

                        <!-- form para pasar los datos al view -->
                            
                            <input name='nombre_tabla' class="form-control" style="background: transparent;  border: none;" type="hidden"
                            value="{{tabla}}" readonly placeholder="Default input">
                            <input name='nombre_pizza' class="form-control" style="background: transparent;  border: none;" type="hidden"
                            value="{{name}}" readonly placeholder="Default input">
                            <input name='max_extras' class="form-control" style="background: transparent;  border: none;" type="hidden"
                            value="{{max_extras}}" readonly placeholder="Default input">
                            
                            <button type="submit" class="btn btn-success">Generate order</button>
                    </div>
                </form>  
            </div>
            <div class="col-3"></div>
        </div>
    </div>


{% endblock %}