{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{% load static %}

{% block head_css %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block title %}
    Customize
{% endblock %}

{% block main %}
<form>
    <h3 class="text-center">Costumize</h3>
    <hr>
    <h5 class="text-center">Type: {{tabla}}</h5>
    <h5 class="text-center">Order: {{name}}</h5>
    <h5 class="text-center">Small Pizza: ${{small}}</h5>
    <h5 class="text-center">Large Pizza: ${{large}}</h5>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Choose a size</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Small</option>
                        <option>Large</option>
                    </select>
                    <label for="exampleFormControlSelect1">Choose a topping</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        {% for topping in Toppings %}
                            <option>{{topping}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-success">Generate order</button>
                </div>  
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</form>

{% endblock %}